@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	background-color: #CBA101;
	margin: 0;
	color: #fafafa;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	color: #fafafa;
	margin: 80px 0 60px 0;
}

h1 span {
	font-size: 60%;
	text-transform: uppercase;
}

p {
	margin-bottom: 30px;
}

input {
	padding: 5px;
	color: #6b6767;
	margin-bottom: 30px;
	background-color: #fafafa;
	border: none;
}

a {
	color: #CBA101;
	text-decoration: none;
}

#app > div {
	border: solid 10px #fafafa;
	background-color: #6b6767;
}